*{
    padding: 0; margin: 0;
    text-decoration: none; list-style: none;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
nav{
    background-color: #222;
    height: 80px; width: 100%;
}
.logo{
    color: white;
    font-size: 35px; font-weight: bold;
    line-height: 80px; padding: 0 100px;
}
nav ul{
    float: right; margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px; margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px; margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
main{
    width: 100%; height: 100vh;
    display: flex;
}
.ace_mobile-button, .cssEditor,.jsEditor{
    display: none;
}
nav ul li a:hover , .menu button:hover{
    cursor:pointer;
}
.menu button:hover, .menu .active{
    transition-duration: 0.5s;
    background-color: rgb(98, 98, 98); color: black;
}
@media(min-width : 858px){
    .logo{
        font-size: 30px; padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .checkbtn, #tagSuggestions, #attributeSuggestions{
        display: none;
    }
    a.active , a:hover{
        background-color: #1b9bff;
        transition:0.5s ;
    }
    main{
        flex-direction: row;
    }
    .menu{
        width: 200px; height: 100%;
        background-color: #14161a;
        display: flex; flex-direction: column;
    }
    .menu button{
        padding: 10px 0px; margin: 10px 10px;
        background-color: transparent; color: white;
        border: 1px solid white; border-radius: 5px ;
    }
    .editorContainer{
        width: 50%;
    }
    .editor,.htmlEditor,.cssEditor,.jsEditor{
        width: 100%; height: 100%;
    }
    .output{
        width: 50%;
    }
    .profile img{
        width: 20%;
    }
}
@media(max-width:858px){
    .logo{
        font-size: 20px;
        padding: 0px 50px; line-height: 50px;
    }
    nav{
        position: sticky; top: 0px;
        height: 50px;
        z-index: 1;
    }
    .checkbtn{
        display: block;
        line-height: 50px;
    }
    ul{
        position: fixed; top: 50px; left: -100%;
        width: 100%; height: 100vh;
        background-color: #2c3e50;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0px; line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active , a:hover{
        background-color: none; color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    main{
        flex-direction: column;
    }
    .menu{
        display: flex; flex-direction: row;
        width: 100%; height: 40px;
        padding:5px;
        background-color: #14161a;
    }
    .menu button{
        padding: 0px 10px 0px 10px; margin: 1px 2px;
        background-color: transparent; color: white;
        border: 1px solid white; border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
    }
    #tagSuggestions, #attributeSuggestions{
        margin-left: auto; margin-right: 5%;
        position: relative;
    }
    .dropdown-content {
        display: none;
        position: absolute; left: -40%; top: 100%; right: -40%;
        background-color: #211e1e;
        z-index: 1;
        border-radius: 10px;
    }
    .dropdown-content a {
        padding: 8px 12px;
        display: block;
        color: azure;
    }
    .dropdown-content a:hover {
        background-color: #1d2226; color: white;
        border-radius: 10px;
    }
    #tagSuggestions:hover .dropdown-content{
        display: block;
    }


    #attributeSuggestions{
        margin-left: auto;
        margin-right: 5%;
        position: relative;
    }
    #attributeSuggestions:hover .dropdown-content{
        display: block;
    }


    .editorContainer , .output{
        height: 50%;
    }
    .editor,.htmlEditor,.cssEditor,.jsEditor{
        height: 100%; width: 100%;
    }
    .ace_gutter , .ace_scrollbar-inner{
        z-index: 0;
    }
    .profile img{
        width: 50%;
    }
}
.profile{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.profile img{
    border-radius: 50%;
}
.profile label{
    padding: 10px 10px;
}